<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Bloggly</h1></a>
            <p>A Blog Site</p>
        </div>
    
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about" class="active">About</a></li>
            <!-- <li><a href="/blogs/create">New Blog</a></li> -->
        </ul>    
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum ipsa officia recusandae dolorem, similique amet veniam quidem ratione! Asperiores ad enim itaque iusto pariatur nemo voluptatibus quos cumque, fugiat dolores?</p>
        <p>Accusantium tempore deleniti voluptatem ullam, placeat porro debitis quia reiciendis aspernatur. Reiciendis facilis recusandae autem minus, possimus aperiam velit a? Voluptas exercitationem possimus unde neque quod enim sit iusto reiciendis!</p>
        <p>Dolore praesentium reprehenderit a! Ipsam architecto non temporibus quas magni et esse maxime laboriosam quisquam voluptas! Sit earum incidunt, voluptates fugiat corrupti, voluptatum quos minus saepe est eveniet maxime ipsa!</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>